.contenedor {
        width: 100%;
        margin: 0 auto;
    }

    
    .entrada-blog {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px;
        border-radius: 8px;
        padding: 16px;
    }
    .blog h2 {
        font-size: 2.5em;
        text-align: center;
    }

    h4{
        font-size: 2em;
    }
    
    .imagen {
        flex: 1;
        text-align: center;
    }
    
    .imagen img {
        max-width: 300px;
        border-radius: 8px;
    }
    
    .contenido-curso {
        flex: 2;
        padding: 20px;
    }
    
    .no-margin {
        margin: 0;
    }
    
    p .no-margin{
        font-weight: bold;
    }
    